* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

.total {
    position: fixed;
    width: 100%;
    opacity: 0.9;
    z-index: 20;
}

.d1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 100vh; */
    /* margin-top: 0px; */
}

#hide {
    display: none;
}

.b1 {
    width: 100%;
    background-color: #afafbf;
    border: none;
}

/* #ib1{
    border-right: rgb(86, 158, 104);
}
#ib2{
    border-right: rgb(51, 158, 69);
}
 */

.h-primary {
    font-family: cursive;
    display: block;
    width: 98%;
    margin: auto;
    padding: 7px;
    margin: auto 0px
}

.hover {
    /* margin: auto 0px */
    transition-property: all;
    transition-duration: 1s;
    /* transition-timing-function: ease-in; */
    /* transition-delay: 1s; */
}

.hover:hover {
    /* text-decoration: underline; */
    background-color: #3e3e50;
    color: white;
}

.nav {
    background-color: #3e3e50;
    /* height: 100px; */
}

.intro {
    display: grid;
    grid-template-columns: 100px 300px;
}

.box h2 {
    color: #d2c0f5;
    font-family: monospace;
    font-size: 22px;
}

.box img {
    display: block;
    margin: 10px auto;
}

.fa-laptop {
    margin: 26px;
    color: #C5ECE3;
    font-size: 4rem;
}

.style {
    font-family: cursive;
    color: aliceblue;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    margin: 5px 15px;
}

ul li .fa {
    font-size: 20px;
    transition: .6s;
    line-height: 30px;
}

ul li a {
    position: relative;
    display: block;
    width: 33px;
    height: 31px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: .6s;
    box-shadow: 2px 5px 14px rgba(0, 0, 0, 0.2);
}

.center {
    text-align: center;
}

.fa {
    padding: 1px 9px;
}

.fa-facebook {
    padding: 1px 11px
}

/* .fa-facebook:hover{
    color: white;
}
.fa-instagram:hover{
    color: white;
}
.fa-linkedin:hover{
    color: white;
}
.fa-github:hover{
    color: white;
} */

.m:hover {
    color: white;
}

/* ul li a:hover{
    background-color: blue;
} */

#fb:hover {
    background-color: #3b5999;
}

#insta:hover {
    background-color: #e4405f;
}

#lin:hover {
    background-color: #0077B5;
}

#git:hover {
    background-color: black;
}

.img {
    height: 80px;
    width: 80px;
    /* border-radius: 40px */
}
#sidebarCollapse{
    position: relative;
    right: 10px;
    top: -73px;
    float: right;
}
#sidebarCollapse img{
    width: 40px;
    filter: invert(1);
    /* right: 10px; */
    /* filter: invert(100%); */
    /* border: 1px; */
    /* background-color: white; */
    cursor: pointer;
    color: white;
}

/* .btn{
    background-image: url('&quot;https://hangar.co/assets/images/menu.svg&quot;');
} */

/* .button{
    float: right;
    display: flex;
    align-items: center;
} */

.home {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.part {
    /* border: 2px solid red; */
    margin: 5px;
    /* height: 300px; */
}

.sect1 {
    background-color: #607d8b26;
    padding-top: 145px;
}

.part img {
    width: 250px;
    display: block;
    margin: 30px auto;
}

.part h1 {
    font-size: 100px;
    margin-left: 80px;
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Rowdies', cursive;
    color: lightslategray;
}

.part h2 {
    font-size: 50px;
    margin-left: 80px;
    color: #4c647b;
    font-family: monospace;
}

.circle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px 120px;
    height: 150px;
    width: 460px;
}

.c {
    /* border: 2px solid blue; */
    /* background-color: white; */
    margin: 10px;
    border-radius: 70px;
    cursor: pointer;
    /* opacity: 0; */
    /* animation-name: manan;
    animation-duration: 2s;
    animation-iteration-count: 2; */
}

@keyframes manan {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes manan1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes manan2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.c:hover {
    opacity: 0.9;
}

#c1 {
    background-color: #bf7f7f;
    animation-name: manan;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
}

#c2 {
    background-color: #2196f3bd;
    animation-name: manan1;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-iteration-count: 1;
}

#c3 {
    background-color: #6ca784fa;
    animation-name: manan2;
    animation-duration: 3s;
    animation-delay: 6s;
    animation-iteration-count: 1;
}

#c1 h4 {
    color: white;
    margin: 55px 30px;
    font-family: cursive;
}

#c2 h4 {
    color: white;
    margin: 55px 30px;
    font-family: cursive;
}

#c3 h4 {
    color: white;
    margin: 55px 20px;
    font-family: cursive;
}

.container {
    /* display: grid; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    margin: 10px;
}

.content {
    /* margin: 10px; */
    /* border: 2px solid red; */
    background-color: white;
    width: 65%;
    margin: 0px 70px;
    border-radius: 40px;
    display: none;
    animation-name: div1;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    /* opacity: 0; */
    /* transition-property: opacity; */
    /* transition-duration: 2s; */
}

@keyframes div1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content p {
    padding: 15px;
    font-size: 1.3rem;
    font-family: cursive;
}

.sect2 {
    background-color: white;
    padding: 10px;
    margin-top: 5px;
}

.bgimg {
    /* border: 2px solid green; */
    /* height: 400px; */
    margin: 10px;
    background: url('img1/yEQ6k.jpg') no-repeat center center/cover;
    padding: 10px;
    /* opacity: 0.8; */
}

.photo img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 40px auto;
    border: 5px solid white;
}

.bgimg p {
    /* width: 600px; */
    margin: 40px;
    font-size: 20px;
    font-family: Helvetica;
    color: white;
    /* text-align: center; */
    text-align: center;
}

.bgimg button {
    border: none;
    display: block;
    width: 200px;
    margin: 30px auto;
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;
    cursor: pointer;
    color: #232a50d1;
}

.bgimg button:hover {
    opacity: 0.9;
}

.skills {
    margin: 10px;
    padding: 1px;
    background: url('img1/bg-grey.jpg') no-repeat center center/cover;
    /* height: 400px; */
}

.partition {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    width: 1280px;
}

.parti {
    margin: 10px;
    /* border: 2px solid blue; */
    /* height: 100px; */
}

.header:hover {
    opacity: 0.8;
}

.header {
    margin: 15px;
    /* background-color: #9e9e9e; */
    cursor: pointer;
}

.header h1 {
    text-align: center;
    color: white;
}

.footer {
    margin: 15px;
    display: none;
    animation-name: div1;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    /* background-color: #9e9e9e; */
}

.footer p {
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

#d1 div {
    background-color: #0000ff7a;
}

#d2 div {
    background-color: #9c27b075;
}

#d3 div {
    background-color: #67a01ba6;
}

#d4 div {
    background-color: #a7441f8f;
}

.skills button {
    border: none;
    display: block;
    width: 200px;
    margin: 20px auto;
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;
    cursor: pointer;
    color: #232a50d1;
    background-color: #607d8b52;
}

.skills button:hover {
    opacity: 0.8;
}

.skills {
    display: none;
    animation-name: div1;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

#p3 {
    background-color: white;
    padding: 20px;
}

.contact {
    background-color: #3fa97dc4;
    /* height: 500px; */
}

.contact h1 {
    padding: 20px;
    /* width: 400px; */
    text-align: center;
    font-size: 43px;
    font-family: cursive;
    color: white;
}

.contact p {
    text-align: center;
    padding: 22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
}

#contact-box input, #contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    padding: 10px;
    font-family: 'Bree Serif', serif;
}

#submit {
    width: 50%;
    display: block;
    margin: 20px auto;
}

footer {
    background-color: black;
    color: white;
    padding: 15px 10px;
    font-family: 'Baloo Bhai 2', cursive;
}