.h-primary {
    margin: auto;
}
.circle{
    margin: 29px auto;
    height: 125px;
    width: 330px;
}
.c{
    width: 100px;
    height: 100px;
    margin: 0px;
    margin-top: 13px;
}

#c1 h4 {
    margin: 36px 13px;
    font-size: 17px;
}

#c2 h4 {
    margin: 36px 13px;
    font-size: 17px;
}

#c3 h4 {
    margin: 37px 2px;
    font-size: 17px;
}

.content p {
    font-size: 1.2rem;
}

.content {
    width: 84%;
    margin: 0px 22px;
}

.container {
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.part h1{
    font-size: 80px;
    margin:auto;
    width: 240px;

}
.part h2{
    font-size: 33px;
    margin:auto;
    width: 280px;
}
.part img {
    margin: 30px auto;
    /* margin-top:10px; */
}

.bgimg p {
    font-size: 1.3rem;
    margin: 0;
}

.bgimg button {
    font-size: 1.5rem;
}

.skills button {
    font-size: 1.5rem;
}

.partition {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
}

.header h1 {
    font-size: 1.5rem;
}

.footer p {
    font-size: 1.3rem;
}

.contact p {
    font-size: 1.5rem;
}
#contact-box form{
    width: 60%;
}
#contact-box textarea {
    font-size: 1.5rem;
    color: #5f5858d6;
}
